<mat-toolbar color="primary">Trace Graph</mat-toolbar>
<mat-card style="height: 50%">

  <div #traceGraph class="graphArea" style="height: 100%">
    <div *ngIf="isLoading" style="width: 100%; height: 100%" fxLayoutAlign="center center">
      <img src="assets/spinner.gif">
    </div>
  </div>

</mat-card>
<div fxLayout='row' fxLayoutAlign='space-between center' style="height: 30%">
  <mat-card fxFlex="50%" class="info_board">
    <div *ngIf="selectedNode">
      <mat-card-header>
        <mat-card-title style="font-weight: bold;font-size: larger">{{selectedNode.vertex.artifType}} -
          {{selectedNode.vertex.dbId}}
        </mat-card-title>
        <mat-card-subtitle>{{selectedNode.vertex.artifId}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor='let attKey of selectedNode.vertex|keys: "other"'>
            <label>{{attKey | uppercase}}:</label>
            {{ selectedNode.vertex.other[attKey]}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card fxFlex="50%" class="info_board">
    <mat-list dense="true">
      <mat-list-item *ngFor="let edge of selectedNodeEdges; let last = last">
        <p mat-line="">{{edge.edge.linkType}}
          <span>FROM: {{ edge.edge.sourceDbId}}</span>
          <span>TO: {{ edge.edge.targetDbId}}</span>
        </p>
        <p mat-line=""><span>METHOD: {{edge.edge.method}}</span> <span>SCORE: {{edge.edge.score}}</span></p>
        <mat-divider mat-line=""></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>

</div>

