/**
The List display and select labels
 */
.chip_label_list {
  width: 100%;
}

/**
Boxes display and selectAdd vertices
 */

.list_box {
  padding: 0;
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
  border: solid;
}

.list_box_title {
  text-align: center;
}

.table_cell {
  overflow: hidden;
  max-width: 600px;
  max-height: 50px
}

.cell_input {
  width: 100%;
}

.input_table {
  overflow-y: auto;
  max-height: 600px;
}

.inner_card {
  height: 800px;
}

label {
  margin-left: 5px;
  margin-right: 5px;
}



