<mat-card>
  <div>
    <mat-form-field class="chip_label_list">
      <mat-chip-list #labelList>
        <mat-chip *ngFor="let label of labels" (remove)="removeLabel(label)">
          {{label}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <input placeholder="New Label..."
             [matChipInputFor]="labelList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="addLabel($event)"/>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <div fxFlex="49" style="background: cadetblue;">
      <div fxLayout="column">
        <div class="list_box_title">
          <label for="remains">Available Nodes</label>
        </div>
        <mat-card>
          <mat-list class="list_box" id="remains">
            <mat-list-item (click)="selectAdd(a_vtx)"
                           [ngClass]="{'list_box_entry':true, 'list_box_entry_selected': (addV === a_vtx) }"
                           *ngFor="let a_vtx of available_vertices;">{{a_vtx.id}}
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>


    <div fxLayout="Column" fxFlex="none" fxLayoutAlign="center center" style="background: coral;" class="box_interval">

      <button mat-icon-button (click)="addVertex()" class="inter_but">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-icon-button (click)="removeVertex()" class="inter_but">
        <mat-icon>remove</mat-icon>
      </button>

      <button mat-icon-button class="inter_but">
        <mat-icon>redo</mat-icon>
      </button>
      <button mat-icon-button class="inter_but">
        <mat-icon>undo</mat-icon>
      </button>

    </div>

    <div fxFlex="49" style="background: darkgoldenrod;">
      <div fxLayout="column">
        <div class="list_box_title">
          <label for="selected">Added Nodes</label>
        </div>
        <mat-card>
          <mat-list class="list_box" id="selected">
            <mat-list-item (click)="selectRemove(s_vtx)"
                           [ngClass]="{'list_box_entry':true, 'list_box_entry_selected': (rmV === s_vtx) }"
                           *ngFor="let s_vtx of selected_vertices;">{{s_vtx.id}}
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>



